<div id="footer">
	<div class="container">
		<div class='row'>
			<div class='small-12 columns'>
				<h1 class="main-title">ChartZapp</h1>
				<p>Made by hand with <3 in Montréal by <a href="http://dorianlistens.com" target="blank">@DorianListens</a></p>
			</div>
		</div>
	</div>
</div>
<script>
$(document).foundation({
	abide: {
		validators: {
			isStation: function (el, required, parent) {
				console.log(el.value);
				var toCheck = el.value;
				var stationCheck = require('stationCheck');
				var stationList = require('stationList');
				var valid = stationCheck(stationList, toCheck);
				return valid
				}
			}
		},

});
</script>
