<div class="row">
  <div class="large-12 columns">
    <h1>Chart Crawler</h1>
    <h3 id="station">Station:</h3><input type="text" id="input"></input>
    <a id="submit" class="button">Get Charts</a>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table width="100%">
      <th>#</th><th>Artist</th><th>Album</th><th>Label</th>
      <tbody id="charts">
      </tbody>
    </table>
  </div>
</div>
