<div class="">
  <form data-abide>
    <div class="label-field">
      <label>Label:<input type="text" id="label_input"></input></label>
    </div>
      <button type="submit">Search</button>
  </form>
</div>
