<div class=''>
<!--   <h1>Current Station: {{this.items.[0].appearances.[0].station}} </h1>
  <h1>Current Date: {{appearances.[0].week}}</h1> -->
  Viewing: <span class="round radius label">{{this.items.length}}</span> records.
</div>
