    <div class="row">
      <div class="large-12 columns">
        <table width="100%">
          <th>#</th><th>Artist</th><th>Album</th><th>Label</th>
          <tbody id="thecharts">
          </tbody>
        </table>
      </div>
    </div>
