    <div class="row">
      <div class="large-12 columns">
        <table width="100%">
          <tbody id="thecharts">
          <th column='totalPoints'>Total Points</th>
          <th column='points'>Points </th>
          <th column="currentPos">Position </th>
          <th column="artist">Artist </th>
          <th column="album">Album </th>
          <th column="label">Label </th>
          </tbody>
        </table>
      </div>
    </div>
