<div id="list-charts">
  <div class="row">
    <div id="panel-region" class="small-12 large-8 columns"></div>
    <div id="aside-region" class="large-4 small-12 columns"></div>
  </div>
  <div class="row"><br /></div>
  <div id="table-region"></div>
</div>
