<!-- <div class="row"> -->

  <div class="">
    <form data-abide>
      <div class="station-field">
        <label>Station:<input type="text" id="station_input" required data-abide-validator='isStation'></input></label>
        <small class="error">You must submit a valid station.</small>
      </div>
      <div class="date-field">
        <label>Date:</label><input type="date" id="date_input"></input>
        <small class='error'>Please submit a valid date</small>
      </div>
        <button type="submit">Get Charts</button> <button id="sort">Sort</button>
    </form>
  </div>

<!-- </div> -->
<!-- <div class="row"><br /><div> -->
