<!-- <div class="row"> -->

  <form id="stationForm" data-abide>
    <div class="station-select">
      <select form="#stationForm" width="100%" data-placeholder="Choose a Station..." class="chosen-select" id="station-select">
        <option value=""></option>
        {{#each items}}
          <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="date-field">
      <label>Date:</label><input type="date" id="date_input"></input>
      <small class='error'>Please submit a valid date</small>
    </div>
      <button type="submit">Get Charts</button>
  </form>

<!-- </div> -->
