  <div class="row">
      <div class="large-12 columns">
        <h3 id="station">Station:</h3><input type="text" id="input"></input>
        <a id="submit" class="button">Get Charts</a>
      </div>
  </div>
