
.top-three-item {
  @include panel();
  // background: $primary-color
  // @include box-shadow(2px 2px 5px #eee);

}
.chart {
  overflow: scroll;
}
.chosen-container {
  height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
  margin: 0;
}
