
.top-three-item {
  @include panel();
  // background: $primary-color
  // @include box-shadow(2px 2px 5px #eee);

}
.chart {
  overflow: scroll;
}
.chosen-container {
  height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
  border: 0!important;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
  margin: 0;
}
.header-label {
  @include label(
  $radius: 4px
  );
  font-size: $h2-font-size;
  font-family: $header-font-family;
  text-shadow: 1px 1px 1px #333;

}
h1.main-title {
  font-size: rem-calc(60);
  line-height: rem-calc(140);
  @media only screen and (min-width: 40.063em) {
    font-size: rem-calc(80);
    line-height: rem-calc(160);
  }

  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
h1.artist-title {
  font-size: rem-calc(45);
  // line-height: rem-calc(140);
  @media only screen and (min-width: 40.063em) {
    font-size: rem-calc(70);
  }
  margin-bottom: rem-calc(20);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.footer-title {
  font-size: rem-calc(65);
  line-height: rem-calc(140);
  @media only screen and (min-width: 40.063em) {
    font-size: rem-calc(80);
    line-height: rem-calc(160);
  }
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.album-sub-nav {
  @include sub-nav();
  display: inline-block;
}
.postfix i {
  font-size: rem-calc(30);
}
.title-row {
  @include grid-row();
  max-width: 100%;
  background: $primary-color;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}
.graph-row {
  @include grid-row();
  max-width: 100%;
  background: $secondary-color;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}
.panel-row {
  @include grid-row();
  max-width: 100%;
  background: #fff;
  padding-top: rem-calc(20);
  // padding-bottom: rem-calc(20);
}
a.dl {
  font-family: $header-font-family;
  font-size: rem-calc(20);
}
#footer i {
  color: $primary-color;
  font-size: rem-calc(20);
}
.tiny i {
  font-size: rem-calc(20);
}

#faqicon > i {
  font-size: rem-calc(200);
  color: $primary-color;
  opacity: 0.2;
  text-shadow: 2px 2px 2px #000;
  // text-align: center;
}

#about-page {
  .panel-row, .graph-row {
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(50);
  }

}
