.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
#graph {
  font-size: small;
}

.tick {
  opacity: 0.5;
}

.tip {
  display: none;
  padding: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 4px;
  position: absolute;
  width: auto;
  line-height: 2;
  text-align: center;
  opacity: 0.9;
  font-weight: bold;
  font-size: larger;
  background: #d04526;
}

.infobox {
  float : right;
  position: absolute;
  right: 1.25rem;
  top: 0px;
  color : #fff;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  background: #aaa;
}

.selected {
  fill: #d04526;
}
