<!-- <div class="row"> -->

  <div class="">
    <form data-abide>
      <div class="station-field">
        <label>Station:<input type="text" id="station_input"></input></label>
      </div>
      <div class="station-field">
        <label>Number:<input type="text" id="number_input"></input></label>
      </div>
      <div class="startDate-field">
        <label>Start Date:<input type="date" id="startDate_input"></input></label>
      </div>
      <div class="endDate-field">
        <label>End Date:<input type="date" id="endDate_input"></input></label>
      </div>
        <button type="submit">Search</button>
    </form>
  </div>

<!-- </div> -->
<!-- <div class="row"><br /><div> -->
