{{log this}}{{#unless models.0.attributes.isNull}}
<div class="panel"><p>{{desc}}</p></div>
<div class="chart">
  <table width="100%">
    <thead>
      <th column='rank'>Rank </th>
      <th column="artist">Artist </th>
      <th column="album">Album </th>
      <th column="label">Label </th>
      <th column="appearances">Appearances </th>
    </thead>
    <tbody id="thechart">
    </tbody>
  </table>
</div>
{{/unless}}
