<div class="show-for-small-only">
  <p class="lead">For now, ChartZapp's graphs are only available on larger screens.</p>
  <p>If you'd like to see more on a mobile device,
  <a href="#" data-reveal-id="feedback">let me know!</a></p>

</div>
