<ul class="medium-block-grid-3 text-center">
  <li><button class="tiny" id="mostRecent">Most Recent</button></li>
  <li><button class="tiny" id='thisYear'>This Year</button></li>
  <li>
    <span class="tiny button dropdown" id="dateRange">Other</span>
  </li>
</ul>
