<ul class="small-block-grid-3 text-center">
  <li><button class="small" id="mostRecent">Most Recent</button></li>
  <li><button class="small" id='thisYear'>This Year</button></li>
  <li>
    <a href="#" class="small button dropdown" data-dropdown="drop1" id="other">Other</a>
      <div id="drop1" data-dropdown-content class="f-dropdown content">
        <label>Start Date:</label><input id="startDate" type="date" placeholder="YYYY-MM-DD"></input>
        <label>End Date:</label><input type="date" id="endDate" placeholder="YYYY-MM-DD"></input>
        <button class="tiny" id="submitOther">Submit</button>
      </div>
  </li>
</ul>
