<div id="filters" class=" ">
  <div class="row">
    <form>
      <div class="medium-3 columns">
        <select class="chosen-select" id="name" data-placeholder="Station" multiple>
        </select>
      </div>
      <div class="medium-4 columns">
        <select class="chosen-select" id="province" data-placeholder="Province" multiple>
        </select>
      </div>
      <div class="medium-4 columns">
        <select class="chosen-select" id="city" data-placeholder="City" multiple>
        </select>
      </div>
      <div class="medium-1 column">
        <a class="button secondary tiny right" id="clearFilters" href="#">Clear</a>
      </div>
  </form>
  </div>
</div>
