<div class="row">
  <div class="small-8 columns">
    <h1 class="artist-title">Stations</h1>
  </div>
  <div class="small-4 columns">
    <h2 class="right">Total: <span class="header-label radius">{{items.length}}</span></h2>
  </div>
</div>
