<h4>Appearances:</h4>
<div class="row">
  <form>
  <fieldset>
    <legend>Filters</legend>
    <div class="small-4 columns">
      <select class="chosen-select" id="position" data-placeholder="Position" multiple>
      </select>
    </div>
    <div class="small-4 columns">
      <select class="chosen-select" id="station" data-placeholder="Station" multiple>
      </select>
    </div>
    <div class="small-4 columns">
      <select class="chosen-select" id="week" data-placeholder="Week" multiple>
      </select>
    </div>
  </fieldset>
</form>
</div>

<div id="theplace"></div>
