<table width="100%">
  <thead>
    <th>Position</th>
    <th>Station</th>
    <th>Week</th>
  </thead>
{{#each_sort_date appearances "week"}}
  <tr>
    <td>{{this.position}}</td>
    <td><a>{{toUpper this.station}}</a></td>
    <td>{{this.week}}</td>
  </tr>
{{/each_sort_date}}
</table>
