<div id="filters" class="hide ">
  <div class="row">
    <form>
      <div class="medium-3 columns">
        <select class="chosen-select" id="position" data-placeholder="Position" multiple>
        </select>
      </div>
      <div class="medium-4 columns">
        <select class="chosen-select" id="station" data-placeholder="Station" multiple>
        </select>
      </div>
      <div class="medium-4 columns">
        <select class="chosen-select" id="week" data-placeholder="Week" multiple>
        </select>
      </div>
      <div class="medium-1 column">
        <a class="button secondary tiny right" id="clearFilters" href="#">Clear</a>
      </div>
  </form>
  </div>
</div>

<div id="theplace"></div>
