<div class="row text-center">
      <div class="large-3 columns"><strong>Artist</strong></div>
      <div class="large-3 columns"><strong>Album</strong></div>
      <div class="large-3 columns"><strong>Label</strong></div>
      <div class="large-3 columns"><strong>Total Points</strong></div>
</div>
<div id="theplace" class='text-center'></div>
