<div class="row">
  <div class="small-4 columns">
    <h3 class="">Visualizer:</h3>
  </div>
  <div class="small-4 columns end">
    <select id="type-select">
      <option value="bar">Appearances By Station</option>
      <option value="line">Appearances By Station Over Time</option>
    </select>
  </div>
</div>
