<!-- <div class="row"> -->

  <div class="">
    <form data-abide>
      <div class="station-field">
        <label>Artist:<input type="text" id="artist_input"></input></label>
<!--         <small class="error">You must submit a valid station.</small> -->
      </div>
        <button type="submit">Search</button>
    </form>
  </div>

<!-- </div> -->
<!-- <div class="row"><br /><div> -->
