<div class='title-row'>
  <div class="row">
  <div id="title_region" class="small-12 columns">
      <h1 class="main-title">FAQ</h1>
    </div>
  </div>
</div>
<div class='panel-row'>
  <div class="row">
    <div id="blurb_region" class="small-9 columns">
      <h1>What?</h1>
      <p class="lead">This is <strong>ChartZapp</strong>, a new way of analysing Canadian Campus-Community Radio Charts.</p>
      <p>It uses modern web technologies to explore and visualize the treasure-trove of data collected by the excellent folks at
      <a href="http://www.earshot-online.com/" target="blank">!Earshot Online</a></p>
    </div>
    <div class="small-3 columns text-right" id="faqicon">
      <i class="fi-lightbulb"></i>
    </div>
  </div>
</div>

<div class='graph-row'>
  <div class="row">
    <div class="small-3 columns " id="faqicon">
      <i class="fi-torsos"></i>
    </div>
    <div id="blurb_region" class="small-9 columns text-right">
      <h1>Who?</h1>
      <p class="lead">Chartzapp was built primarily for <strong>Artists, Media, </strong>and <strong>Fans.</strong></p>
      <p>It makes information about Campus-Community Radio Charts more
        accessible and visually stimulating, with the aim of providing some
        newfangled, nerdy data analysis to the Canadian independent music community.

    </div>
  </div>
</div>


<div class='panel-row'>
  <div class="row">
    <div id="blurb_region" class="small-9 columns">
      <h1>Why?</h1>
      <p class="lead"><strong>Charts</strong> and <strong>Graphs</strong> were
        simply made for each other, don't you agree?</p>
      <p>More Reasons:</p>
      <ul>
        <li>Campus-Community Radio is Great!</li>
        <li>Data Analysis and Visualization are Cool!</li>
        <li>Learning new things is Fun!</li>
      </ul>
      </div>
    <div class="small-3 columns text-right" id="faqicon">
      <i class="fi-graph-trend"></i>
    </div>
  </div>
</div>

<div class='graph-row'>
  <div class="row">
    <div class="small-3 columns " id="faqicon">
      <i class="fi-wrench"></i>
    </div>
    <div id="blurb_region" class="small-9 columns text-right">
      <h1>How?</h1>
      <p class="lead">Chartzapp is a <strong>Single Page Application</strong> built using
        open source tools.<p>
      <p>It is written almost entirely in
        <a href="http://coffeescript.org/" target="blank">Coffeescript</a>
        on both the front and
        back-end. It uses <a href="http://nodejs.org/" target="blank">Node.js</a>
        to run a server and webcrawler, which stores data in a
        <a href="http://www.mongodb.org/" target="blank">MongoDB</a> database,
        and then compares, analyzes and displays things with
        <a href="http://backbonejs.org" target="blank">Backbone</a>,
        <a href="http://marionettejs.com/" target="blank">Marionette</a>,
        and <a href="http://d3js.org/" target="blank">D3</a>.
        To find out more about the technology or to get involved with
         the project, check it out on
      <a href="https://github.com/DorianListens/chartzapp" target="blank">GitHub</a>.</p>
    </div>
  </div>
</div>



<div class='panel-row'>
  <div class="row">
    <div id="blurb_region" class="small-9 columns">
      <h1>When?</h1>
      <p class="lead"><strong>Now</strong>, and hopefully, <strong>Forever!</strong></p>
      <p>The database currently extends from December 31st, 2013 to the Present</p>
      <ul>
        <li>Beta Release: <strong>Impending</strong></li>
        <li>Alpha Deploy: <strong>March 21st, 2014</strong></li>
        <li>First Keystrokes: <strong>3:39 PM (EDT)</strong> on <strong>March 15th, 2014</strong></li>
      </ul>
    </div>
    <div class="small-3 columns text-right" id="faqicon">
      <i class="fi-calendar"></i>
    </div>
  </div>
</div>
