
<div class="chart">
  <table width="100%" class="">
    <thead>
      <th column='rank'>Rank </th>
      <th column="artist">Artist </th>
      <th column="album">Album </th>
      <th column="label">Label </th>
  <!--     <th column="appearances">Appearances </th> -->
    </thead>
    <tbody id="thecharts">
    </tbody>
  </table>
</div>
