<h3>Top 50 albums so far this year:</h3>

<table width="100%" class="responsive">
  <thead>
    <th column='rank'>Rank </th>
    <th column="artist">Artist </th>
    <th column="album">Album </th>
    <th column="label">Label </th>
    <th column="appearances">Appearances </th>
  </thead>
  <tbody id="thecharts">
  </tbody>
</table>
