
<div class="row">
  <div class="large-8 columns">


    <h1><i id="custom-range" class="fi-calendar fi-large"></i> {{desc}}</h1>
  </div>
  <!-- <div class="small-4 columns">
    <select id="time-select">
      <option>This Year</option>
      <option>This Month</option>
      <option>This Week</option>
    </select>
  </div> -->
  <!-- <div class="large-4 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="custom-range" type="text" placeholder="This Week"></input>
      </div>
      <div class="small-2 columns">
        <span class="postfix radius"><i id="custom-range" class="fi-calendar"></i></span>
      </div>
    </div>
  </div> -->
<!-- </div> -->
</div>
<div class="row">
  <div class="small-12 columns">
    {{log this}}
  </div>
</div>
