
<div class='row'>
  <div id="title_region" class="small-12 columns">
    <div class="panel">
      <h1>ChartZapp!</h1>
    </div>
  </div>
</div>
<div class='row'>
  <div id="blurb_region" class="small-12 columns">
    <div data-alert class="alert-box">
      <p>Hi! Thanks for visiting! ChartZapp is currently in an extremely "Alpha" state, so be wary.</p>
        <p>Thanks for trying it out!</P>
      <a href="#" class="close">&times;</a>
    </div>
    <p>This is ChartZapp, a new way of analysing Canadian Campus Radio Charts.</p>
    <p>All the data has been lovingly scraped from
    <a href="http://www.earshot-online.com/" target="blank">!Earshot Online</a></p>
  </div>
</div>
<div class="row">
  <div id="search_region" class="small-12 large-10 large-centered columns"></div>
</div>
<div class="row">
  <div id="table_region" class=""></div>
</div>
<div class="row">
  <div id="list_region" class="small-12 columns"></div>
</div>
