<div class='title-row'>
  <div class="row">
  <div id="title_region" class="small-12 columns">
    <!-- <div class="panel"> -->
      <h1 class="main-title">ChartZapp!</h1>
    </div>
  </div>
</div>
<div class='panel-row'>
  <div class="row">
  <div id="blurb_region" class="small-12 columns">
    <p class="lead">This is ChartZapp, a new way of analyzing Canadian
      Campus-Community Radio Charts.</p>
    <p>It's currently in Beta, and for now
      the database only extends to the beginning of 2014.</p>
      <p>If you have questions, suggestions, or find a bug, please
      <a href="#" data-reveal-id="feedback">let me know!</a>
      </p>
    <p>All the data has been lovingly scraped from
    <a href="http://www.earshot-online.com/" target="blank">!Earshot Online</a>
    </p>
  </div>
</div>
</div>
<div class="panel-row">
  <div id="info-region" class="small-12 columns">
    <!-- <div class="panel"> -->

  </div>
</div>
<div class="graph-row">
  <div id="graph-region" class="small-12 columns"></div>
</div>
<div class="panel-row">
  <div id="circles-region" class="small-12 columns"></div>
</div>

<div class="graph-row">
  <div id="table_region" class="row"></div>
</div>
<div class="panel-row">
  <div id="list_region" class="row"></div>
</div>
